---
import Section from "@/components/Section.astro";

import { basics } from "@cv";
const { summary1, summary2 } = basics;
---

<Section title="Sobre mí">
  <p>{summary1}</p>
  <p class="bottom">{summary2}</p>
</Section>

<style>
  .bottom {
    margin-top: 10px;
  }
</style>
